<div class="flex justify-center flex-col h-full items-center">
  <div class="p-4 rounded-lg border shadow-lg w-1/2 mt-8">
    <h1 class="font-bold text-xl mb-4">
      Suspendisse ut lobortis tortor. Duis cursus vitae justo in rhoncus. Nullam
      eget luctus magna, eget gravida nisi. Nulla facilisi. Phasellus quis mi
    </h1>
    <p *transloco="let t">
      {{ t("home") }}
    </p>
  </div>
  <div class="p-4 rounded-lg border shadow-lg w-1/2 mt-8">
    <h1 class="font-bold text-xl mb-4">
      Suspendisse ut lobortis tortor. Duis cursus vitae justo in rhoncus. Nullam
      eget luctus magna, eget gravida nisi. Nulla facilisi. Phasellus quis mi
    </h1>
    <p>
      In lectus risus, euismod a tortor sed, varius venenatis purus. Nunc luctus
      libero nulla, sit amet facilisis risus ullamcorper eget. Mauris maximus
      mollis nisi nec rutrum. In eget dictum orci. Aenean felis est, condimentum
      vehicula sem non, aliquet iaculis velit. Pellentesque et erat augue. Donec
      eleifend dictum porta. Sed ut nibh id sapien varius dapibus id interdum
      nisi.
    </p>
  </div>
</div>
